*{
   margin: 0;
   padding: 0;
   font-family: 'Open Sans', sans-serif;
   color: #000;
   font-size: 18px;
}
body {
   padding: 45px 0;
}
.logo-image{
   width:90px ;
}
.table{
   width: 1170px;
   margin: 0 auto;
   margin-bottom: 10px;
}
table .work{
   width: 0;
}
.meh{
  font-weight: normal;
}
a {
   color: #000;
   text-decoration: none;
}
.logo {
   width: 75px;
}
.nav {
   background: url('../images/Rectangle\ 1.jpg');
   padding-left: 10px;
   width: 1170px;
   margin: 0 auto;
}
.nav a:hover{
  text-decoration-color: #fff;
  line-height: 30%;
  color: #041E42;
}

.nav table tr td p{
   padding: 8px;
   margin: 0 40px 0 0;
}

.main {
   padding-left: 30px;
}
.about{
  text-decoration: underline;
}
.about tr h1{
   border-bottom:  5px solid #000;
}

.about td {
   padding: 30px 0;
}

.me {
   width: 450px;
}
.name{
   font-size: 25px;
}
.ser{
   display: block;
  font-size: 13px;
  margin: 0 auto;
  text-align: right;
  font-weight: bold;
  width: 1170px;
}
