@font-face {
  font-family: "Roboto, src:'../public/fonts/Roboto-Regular.ttf'";
  src: url("../public/fonts/Roboto-Regular.ttf") format("truetype"),
    url("../public/fonts/Roboto-Black.ttf") format("truetype"),
    url("../public/fonts/Roboto-BlackItalic.ttf") format("truetype"),
    url("../public/fonts/Roboto-Bold.ttf") format("truetype"),
    url("../public/fonts/Roboto-BoldItalic.ttf") format("truetype"),
    url("../public/fonts/Roboto-Italic.ttf") format("truetype"),
    url("../public/fonts/Roboto-Light.ttf") format("truetype"),
    url("../public/fonts/Roboto-LightItalic.ttf") format("truetype"),
    url("../public/fonts/Roboto-MediumItalic.ttf") format("truetype"),
    url("../public/fonts/Roboto-Medium.ttf") format("truetype"),
    url("../public/fonts/Roboto-Thin.ttf") format("truetype"),
    url("../public/fonts/Roboto-ThinItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
