@media screen and (max-width: 1061px) {
  #require__container #require_test {
    margin: 30px auto;
  }

  #require__container {
    margin-top: 50px;
  }

  #require__container #require__row {
    margin-top: 30px;
  }

  main .container-xxl #building__years #building__years__item {
    max-width: 500px;
  }

  article #cont1 {
    margin-top: 50px;
  }

  main .container-xxl #building__years #building__years__item {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  #container__quistions {
    margin-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 1045px) {
  #contacts__container #contacts__menu {
    max-width: 600px;
    margin-top: 30px;
  }

  #contacts__container #contacts__menu #contacts__item:not(:nth-child(4)) {
    margin-top: 35px;
  }

  #contacts__container #contacts__menu #contacts__item:nth-child(4) {
    margin-top: 35px;
  }

  #contacts__container {
    margin-top: 50px;
  }

  #contacts__container #contacts__menu #contacts__item .contacts__about {
    margin-top: 10px;
  }

  #contacts__container #contacts__menu #contacts__item .contacts__about1 {
    margin-top: 10px;
  }

  #contacts__container #contacts__menu #contacts__item .contacts__where {
    margin-top: 10px;
  }
}

@media screen and (max-width: 997px) {
  .companies__container .container-xxl .row #companies__item {
    max-width: 420px;
  }

  .companies__container .container-xxl .row #companies__item .companies__source img {
    margin-top: 20px;
  }
  .companies__container .container-xxl .row #companies__item img:not(:nth-child(1)){
   margin-left: 0;
  }
}
@media screen and (max-width: 996px) {
   .companies__container .container-xxl .row #companies__item .companies__source img {
      margin-left: 20px;
    }
}
@media screen and (max-width: 995px) {
  #require__container .row #require__source .require__item {
    margin-top: 20px;
  }
}

@media screen and (max-width: 992px) {
  #container-building #project__building1 #project__building__text1 {
    font-size: 55px;
    line-height: 85px;
  }

  main .container-xxl #projects__build {
    margin-top: 30px;
  }

  #container-building {
    margin-top: 40px;
  }

  section {
    margin-top: 40px;
  }

  main .container-xxl #projects__build #projects__build__items {
    margin-top: 20px;
  }
}

@media screen and (max-width: 985px) {
  section .container-xxl #clever__row .col-lg-6 .solution__link {
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  section .container-xxl #clever__row .col-lg-6 .row__joke {
    margin: 0 auto;
    margin-top: 10px;
  }
}

@media screen and (max-width: 826px) {
  #require__container #require_test #require__text1 {
    margin-top: 20px;
  }
}

@media screen and (max-width: 770px) {
  footer .container-xxl #footer__container #footer__item2 {
    text-align: center;
    margin-top: 20px;
  }

  footer .container-xxl #footer__container #footer__item1 {
    text-align: center;
  }
}

@media screen and (max-width: 767.5px) {
  #menu-burger {
    text-align: center;
  }

  #navbarSupportedContent {
    background-color: #F7654A;
    opacity: 0.7;
    margin-top: 15px;
    border-radius: 20px;
  }

  .nav-link {
    color: #fff;
  }

  .nav-link:hover,
  .nav-link:active {
    text-shadow: 3px 3px 3px black, 0 0 1em green;
  }

  #container-building #project__building1 #project__building__text1 {
    font-size: 35px;
    line-height: 53px;
  }

  #container-building {
    margin-top: 20px;
  }
}

@media screen and (max-width: 700px) {
  .companies__container .container-xxl .row #companies__item {
    max-width: 230px;
    margin: 40px auto;
  }
}

@media screen and (max-width: 565px) {
  #contacts__container #contacts__menu #contacts__item:nth-child(4) {
    margin-top: 0;
  }
}

@media screen and (max-width: 527px) {
  main .container-xxl #building__years {
    -webkit-transform: translate(0, -140px);
    -ms-transform: translate(0, -140px);
    transform: translate(0, -140px);
  }

  #contacts__container #contacts__menu {
    margin: 0 auto;
  }
}

@media screen and (max-width: 350px) {
  main .container-xxl #projects__build #projects__build__items .buildings img {
    max-width: 260px;
    height: 290px;
  }
}