//color variables

$black: #000000;
$burg: #341D17;
$brightYellow: #D9A774;
$lightGrey: #756763;
$beige: #F2EADE;

//text color variables

$txt_color0: $black;
$txt_color1: $brightYellow;
$txt_color2: $lightGrey;

//border color variables

$brdr_color0: $black;
$brdr_color1: $lightGrey;

//background color variables

$bg_color0: $black;
$bg_color1: $burg;
$bg_color2: $lightGrey;
$bg_color3: $beige;

//mixin

@mixin setFont($family, $weight, $size, $lineHeight) {
  font-family: $family, sans-serif;
  font-size: $size;
  line-height: $lineHeight;
  font-weight: $weight;
}