@import "../../../variables";

.map{
    margin-left: auto;
    margin-right: auto 
}

.map-item {
    position: absolute;
    top: attr(y);
    left: attr(x);
    color: black;
    background-color: blanchedalmond;
    width: 200px;
    height: 50px;
}

.map {
    background: attr(map);
}